# backend port
PORT=

# db connection
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_ENABLE_SSL=

JWT_SECRET=

FILE_URL=

APP_URL=

MAX_INLINE_MESSAGE_BYTES=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=


REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
